/* -------------------------Global------------------------- */
:root {
  /* --color0: #2e25b6; */
  --color1: #5d5d5d;
  --color2: #848380;
  --color3: #d5a463;
  --color4: #dccfc3;
  --color5: #5a8b55;
  --color6: #90c777;
  --color7: #ffffff;
  --color8: #c55a8b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New";
}

body {
  width: auto;
  height: auto;
}

/* -------------------------Header------------------------- */
#NavBar {
  display: table;
  width: 100%;
  table-layout: fixed; /* For cells of equal size */
  height: 10vw;
  border-color: var(--color8);
  background-color: var(--color8);
}

.HeaderSpan {
  background-color: var(--color8);
  display: table-cell;
  text-align: center;
  border-color: var(--color8);
  padding-top: 4vw;
  /* padding-bottom: 1vw; */
}

#HeaderName {
  font-size: 3.5vw;
}

.HeaderLinks {
  font-size: 1.5vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

/* -------------------------Card------------------------- */
.ChoreCard {
  background-color: var(--color2);
  border-color: var(--color2);
  border-radius: 15px;
  width: 15vw;
  height: 20vw;
  color: var(--color7);
  /* border: 2px solid; */
  padding: 1vw;
  margin: 4vw;
  text-align: center;
  box-shadow: 20px -20px var(--color1);
}
